<div class="container-fluid">
  <div id="fare-estimate" class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="well">
        <h3 class="text-center">Fare Estimate</h3>
        <br>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= form_tag calculate_fare_path, method: :post, remote: true do %>
              <div class="form-group">
                <%= text_field_tag :source, @source, class: 'form-control', placeholder: 'Source', autofocus: true %>
              </div>
              <div class="form-group">
                <%= text_field_tag :destination, @destination, class: 'form-control', placeholder: 'Destination', autofocus: true %>
              </div>
              <hr>
              <div class="form-group">
                <h5><b>Ride Type</b></h5>
                <% @cab_types.each_with_index do |cab, index| %>
                  <label class="radio-inline">
                    <input type="radio" name="cab_type" value="<%= cab.id %>" <%= "checked" if (cab.id.to_s == @cab_type) %>>
                    <%= cab.name %>
                  </label>
                <% end %>
              </div>
              <hr>
              <%= submit_tag 'Get Fare Estimate', class: 'btn btn-default btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
