<%= form_tag bookings_path, method: :post, remote: true do %>
  <div class="form-group">
    <%= text_field_tag :source, @source, class: 'form-control', placeholder: 'Source', autofocus: true %>
    <%= hidden_field_tag :source_location, nil %>
  </div>
  <div class="form-group">
    <%= text_field_tag :destination, nil, class: 'form-control', placeholder: 'Destination', autofocus: true %>
    <%= hidden_field_tag :destination_location, nil %>
  </div>
  <div class="form-group">
    <h5><b>Ride Type</b></h5>
    <% @cab_types.each_with_index do |cab_type, index| %>
      <label class="radio-inline">
        <input type="radio" name="cab_type" value="<%= cab_type.id %>" <%= "checked" if index == 0 %>>
        <%= cab_type.name %>
      </label>
    <% end %>
  </div>
  <%= submit_tag 'Find Cabs', class: 'btn btn-primary btn-block' %>
<% end %>
