<div id="current" class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <%= render 'shared/driver_info', driver: @driver %>
          <%= link_to 'Finish ride', complete_bookings_path, remote: true, method: :post, class: 'btn btn-success btn-block' %>
        </div>
        <div class="col-md-6">
          <br>
          <br>
          <%= form_for @booking, remote: true do |booking| %>
            <div class="form-group">
              <%= booking.text_field :source_name, id: 'source', class: 'form-control', placeholder: 'Source', readonly: true %> <br>
              <%= booking.hidden_field :source, id: 'source_location' %>
              <%= booking.hidden_field :source_place_id, id: 'source_place_id' %>
            </div>
            <div class="form-group">
              <%= booking.text_field :destination_name, id: 'destination', class: 'form-control', placeholder: 'Destination' %>
              <%= booking.hidden_field :destination, id: 'destination_location' %>
              <%= booking.hidden_field :destination_place_id, id: 'destination_place_id' %>
            </div>
            <%= booking.submit 'Update ride', class: 'btn btn-primary btn-block' %>
          <% end %>
          <%= link_to 'Cancel ride', cancel_bookings_path, remote: true, method: :post, class: 'btn btn-default btn-block' %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div id="map" style="height: 300px;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h4 class="text-center">Total Fare</h4>
      <hr>
      <h2 id="total_fare" class="text-center"><%= @booking.price %> $</h2>
      <h4 id="cab_type" class="text-center"><%= @cab_type.name %></h4>
    </div>
    <div class="panel">
      <h3 class="text-center">Current Status</h3>
    </div>
  </div>
</div>
