<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 left-fixed">
      <div class="content">
        <%= render 'bookings/form' %>
        <%= link_to 'Get Fare Estimate', calculate_fare_path, id: :get_fare_estimate, class: 'btn btn-default btn-block' %>
        <hr>
        <%= render 'shared/driver_info' %>
        <%= link_to 'Confirm', confirm_bookings_path, method: :post, remote: true, class: 'btn btn-success btn-block' %>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 right-relative">
      <div id="map"></div>
    </div>
  </div>
</div>
<%= render 'shared/fare_estimate' %>
