<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 left-fixed">
      <div class="content">
        <%= form_tag find_cab_bookings_path, method: :post, remote: true do %>
          <div class="form-group">
            <%= text_field_tag :source, @source, class: 'form-control', placeholder: 'Source', autofocus: true %>
            <%= hidden_field_tag :source_location, nil %>
          </div>
          <div class="form-group">
            <%= text_field_tag :destination, nil, class: 'form-control', placeholder: 'Destination', autofocus: true %>
            <%= hidden_field_tag :destination_location, nil %>
          </div>
          <div class="form-group">
            <h5><b>Ride Type</b></h5>
            <% @cab_types.each_with_index do |cab_type, index| %>
              <label class="radio-inline">
                <input type="radio" name="cab_type" value="<%= cab_type.id %>" <%= "checked" if index == 0 %>>
                <%= cab_type.name %>
              </label>
            <% end %>
          </div>
          <%= submit_tag 'Find Cabs', class: 'btn btn-success btn-block' %>
        <% end %>
        <%= link_to 'Get Fare Estimate', calculate_fare_path, id: :get_fare_estimate, class: 'btn btn-default btn-block' %>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 right-relative">
      <div id="map"></div>
    </div>
  </div>
</div>
<div class="modal fade" id="fare-estimate-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center modal-title" id="myModalLabel">Fare Estimate</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= label_tag 'Source' %>
          <%= text_field_tag :source_read_only, nil, class: 'form-control', placeholder: 'Source', readonly: true %>
        </div>
        <div class="form-group">
          <%= label_tag 'Destination' %>
          <%= text_field_tag :destination_read_only, nil, class: 'form-control', placeholder: 'Destination', readonly: true %>
        </div>
        <hr>
        <h4 id="cab_type" class="text-center"></h4>
        <hr>
        <h2 id="total" class="text-center"></h2>
        <h5 id="split_up" class="text-center"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
